version: 2.1

jobs:
  make-recovery:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout

      - run:
          name: Prepare environment
          command: |
            sudo apt-get update
            sudo apt-get install -y git-core gnupg flex bison gperf build-essential zip curl tree jq bc ccache \
              bash-completion zlib1g-dev gcc-multilib g++-multilib libc6-dev-i386 lib32ncurses5-dev lib32z-dev \
              x11proto-core-dev libx11-dev libgl1-mesa-dev libxml2 libxml2-utils liblz4-tool libncurses5-dev \
              libsdl1.2-dev libssl-dev libwxgtk3.0-gtk3-dev libbz2-dev xsltproc unzip lzop pngcrush rsync \
              schedtool squashfs-tools imagemagick lzma ncftp python3 python-is-python3 openjdk-8-jdk \
              qemu-user-static libncurses5
 
      - run:
          name: Install Python 2.7
          command: |
            sudo apt-get install -y build-essential wget
            wget https://www.python.org/ftp/python/2.7.18/Python-2.7.18.tgz
            tar -xvf Python-2.7.18.tgz
            cd Python-2.7.18
            ./configure --prefix=/usr/local
            make -j$(nproc)
            sudo make altinstall
            sudo ln -sf /usr/local/bin/python2.7 /usr/bin/python

      - run:
          name: Install repo tool
          command: |
            mkdir ~/bin
            curl https://storage.googleapis.com/git-repo-downloads/repo > ~/bin/repo
            chmod a+x ~/bin/repo
            echo 'export PATH=$HOME/bin:$PATH' >> $BASH_ENV

      - run:
          name: Initialize repo
          command: |
            mkdir workspace && cd workspace
            git config --global user.name "CircleCI-Build-Bot"
            git config --global user.email "android@ci.local"
            repo init --depth=1 -u https://github.com/minimal-manifest-twrp/platform_manifest_twrp_omni.git -b twrp-9.0

      - run:
          name: Repo sync
          command: |
            cd workspace
            repo sync -j$(nproc --all)

      - run:
          name: Clone device tree
          command: |
            cd workspace
            git clone https://github.com/samsingsangsung/device_samsung_m40 -b twrp-9.0 device/samsung/m40

      - run:
          name: Build recovery
          command: |
            cd workspace
            export ALLOW_MISSING_DEPENDENCIES=true
            source build/envsetup.sh
            lunch omni_m40-eng
            make clean
            make recoveryimage -j$(nproc --all)

      - store_artifacts:
          path: workspace/out/target/product/m40/recovery.img
          destination: recovery.img

workflows:
  version: 2
  build-recovery:
    jobs:
      - make-recovery
